@mixin fantasy-league {

    .main-layout {
        padding: 10px;
        min-width: 1070px;

        .view-container {
            background: inherit;
            border-radius: 0px;
            border: none;
            border-top: 2px solid #d5d5d5;
        }
    }

}