@mixin single-league-view {

	.bracket-gridlayout {

		.v-gridlayout-slot {

			.bracketplaceholder-top-right {
				border-radius: 0px 10px 0px 0px;
				border-top: 1px solid black;
				border-right: 1px solid black;
			}

			.bracketplaceholder-right {
				border-right: 1px solid black;
			}

			.bracketplaceholder-bottom-right {
				border-radius: 0px 0px 10px 0px;
				border-bottom: 1px solid black;
				border-right: 1px solid black;
			}

			.bracket-game {
				padding: 10px;
			}

		}

	}

	.contestantSelection .v-icon + [class*="input"] {
    	padding-left: 55px !important;
    }

    .winner-selection .v-select-option:nth-child(2) {
    	margin-top: 20px;
    }

    .overview-tab {

    	.darker-tabcolor {
    		.v-accordion-item-caption {
    			background-color: rgba(0, 0, 0, 0.05);
    		}
    	}

    	.chart-user-selection {
    		background-color: rgb(255, 255, 255);
        	padding: 5px;
        	border-top-left-radius: 4px;
        	border-top-right-radius: 4px;
        	border-top: 1px solid #c5c5c5;
        	border-right: 1px solid #c5c5c5;
        	border-left	: 1px solid #c5c5c5;
    	}

    	.has-selection-section {
        	border-radius: 4px;
        	border: 1px solid #c5c5c5;
        }
    }

    .teamweights .balance-label {
    	color: #2c9720;
		border: 2px solid #2c9720;
		border-radius: 4px;
		padding: 7px 19px 7px 19px;

		&.red {
			color: #ed473b;
			border-color: #ed473b;
		}
    }

}