@mixin topbar {

    .topbar {
        margin-bottom: 10px;
    }

    .fantasy-league-menubar {
        /* Remove button like styling */
        border: 0px;
        background-image: none;
        box-shadow: none;

        .v-menubar-menuitem-menu-state-item {

        	&.profile-item .v-icon {
				margin-right: 10px;
        	}

            border: 0px;
            height: 60px;
            padding: 0 10px;

            &.v-menubar-menuitem-selected {
                background-image: none;
                box-shadow: none;
            }

            .v-menubar-menuitem-caption:after {
                font-size: 1em;
                margin-top: 0.5em;
            }

            .v-icon {
                width: 50px;
                height: auto;
                margin: 0px;
            }
        }

        .v-menubar-menuitem-menu-notification-item, .v-menubar-menuitem-accept-decline-item {
            font-size: 0.8em;
            padding: 3px 37px 3px 15px;
        }

        .v-menubar-menuitem-accept-decline-item {
            padding: 0 5px 0 5px;

            .v-icon {
                width: 20px;
                height: auto;
                margin-right: 10px;
            }
        }

    }

}