.success, .error, .warning, .info {
    padding: var(--lumo-space-s);
    border-radius: var(--lumo-border-radius);
}

.show-icon.success, .show-icon.error, .show-icon.warning, .show-icon.info {
    padding-left: var(--lumo-size-m);
}

.show-icon.error::before, .show-icon.success::before, .show-icon.warning::before, .show-icon.info::before {
    font-family: lumo-icons;
    font-size: var(--lumo-icon-size-m);
    width: var(--lumo-size-m);
    height: 1em;
    line-height: 1;
    text-align: center;
    margin-left: calc(var(--lumo-size-m) * -0.95);
}

.success {
    background-color: var(--lumo-success-color-10pct);
    color: var(--lumo-success-text-color);
}

.error {
    background-color: var(--lumo-error-color-10pct);
    color: var(--lumo-error-text-color);
}

.warning, .info {
    background-color: var(--lumo-error-color-10pct);
    color: var(--lumo-primary-text-color);
}

* > iron-icon {
    margin-right: 10px;
}

.show-icon.success::before {
    content: var(--lumo-icons-checkmark);
}

.show-icon.error::before {
    content: var(--lumo-icons-error);
}

.show-icon.warning::before {
    content: var(--lumo-icons-error);
}

.show-icon.info::before {
    content: var(--lumo-icons-bell);
}